In [55]:
import pandas as pd

clinicsGeo = pd.read_csv('data/nyc-article31-childadolescent-geocoded.csv')
clinicsSurvey = pd.read_csv('data/nyc-article31-childadolescent-survey-081022.csv')

In [56]:
display(clinicsGeo.head(1))
display(clinicsGeo.shape)
display(clinicsSurvey.head(1))
display(clinicsSurvey.shape)

,program_region,program_county,sponsor_name,agency_name,site_name,main_site,site_address,site_city,site_state,site_zip_code,site_county,population_simple,type,full_address,lat,long,geometry
0,New York City,Bronx,"Acacia Network, Inc.","PROMESA, Inc.",Westchester Center of Excellence,Y,915 Westchester Avenue 2nd Floor,Bronx,NY,10459,Bronx,Children & Adolescents,Community,"915 Westchester Avenue 2nd Floor, Bronx, NY 10459",40.821566,-73.898408,"[-73.8984076, 40.8215662]"

(487, 17)

,sponsor_name,agency_name,site_name,specialty,specialty_desc,nokids_notherapy,nokids_notherapy_desc,not_applicable,not_applicable_desc,site_city,...,date_called,reached,new_patients,wait_time,website,weeks_low,weeks_high,weeks_mean,months_low,months_high
0,"Mount Sinai Hospitals Group, Inc.",Beth Israel Medical Center,Beth Israel Medical Center Child Outpatient De...,NaN,NaN,NaN,NaN,NaN,NaN,New York,...,6/13/22,yes,yes,End of July,NaN,7.0,7.0,7.0,1.75,1.75

(487, 29)

In [57]:
clinicsGeo = clinicsGeo[['agency_name','site_name','lat','long','geometry']]

In [58]:
clinicsGeo

,agency_name,site_name,lat,long,geometry
0,"PROMESA, Inc.",Westchester Center of Excellence,40.821566,-73.898408,"[-73.8984076, 40.8215662]"
1,Association to Benefit Children,Fast Break - The Bronx,40.839864,-73.918820,"[-73.9188205, 40.8398641]"
2,Astor Services for Children & Families,Astor @ Mott Hall V,40.831887,-73.877282,"[-73.8772819, 40.8318874]"
3,Astor Services for Children & Families,Astor Clinic Treatment Program - Tilden,40.876675,-73.862719,"[-73.862719, 40.8766745]"
4,Astor Services for Children & Families,"Astor Services @ MS 80, The Isabel Rooney School",40.876802,-73.881370,"[-73.8813704, 40.8768024]"
...,...,...,...,...,...
482,Richmond Medical Center dba Richmond UMC,Port Richmond Satellite,40.633147,-74.162037,"[-74.16203709999999, 40.6331468]"
483,Richmond Medical Center dba Richmond UMC,Pouch Satellite,40.635312,-74.103344,"[-74.1033443, 40.6353117]"
484,Richmond Medical Center dba Richmond UMC,SIMHS Chait Clinic of RUMC @ Pediat,40.634491,-74.109268,"[-74.1092682, 40.63449079999999]"
485,Richmond Medical Center dba Richmond UMC,Staten Island MH Society CHAIT Clinic of RUMC,40.635264,-74.103762,"[-74.10376219999999, 40.6352635]"
486,Richmond Medical Center dba Richmond UMC,West Brighton Clinic,40.634542,-74.105781,"[-74.1057811, 40.6345417]"

In [59]:
# Cleaning names I manually cleaned in the doc, but made now difficult to merge
clinicsGeo.agency_name = clinicsGeo.agency_name.str.replace("York and Presbyterian","York Presbyterian")
clinicsSurvey.agency_name = clinicsSurvey.agency_name.str.replace("York and Presbyterian","York Presbyterian")

In [60]:
# Merging data
clinicMerge = clinicsSurvey.merge(clinicsGeo,how='outer',left_on=['agency_name','site_name'],right_on=['agency_name','site_name'])

In [62]:
# Looks like this is in Westchester and that's why its not in my list
clinicMerge.query("site_name.str.contains('Hayden')")

,sponsor_name,agency_name,site_name,specialty,specialty_desc,nokids_notherapy,nokids_notherapy_desc,not_applicable,not_applicable_desc,site_city,...,wait_time,website,weeks_low,weeks_high,weeks_mean,months_low,months_high,lat,long,geometry
487,NaN,C McCloskey SHFC dba C McCloskey Comm Svcs,Hayden House,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.168608,-73.863913,"[-73.8639135, 41.1686077]"

In [63]:
clinicMerge = clinicMerge.query("~site_name.str.contains('Hayden')")
clinicMerge.shape

(487, 32)

In [47]:
clinicsSurvey.columns

Index(['sponsor_name', 'agency_name', 'site_name', 'specialty',
       'specialty_desc', 'nokids_notherapy', 'nokids_notherapy_desc',
       'not_applicable', 'not_applicable_desc', 'site_city', 'site_zip_code',
       'site_county', 'population_simple', 'type', 'hospital', 'address',
       'healthfirst', 'phone', 'notes', 'date_called', 'reached',
       'new_patients', 'wait_time', 'website', 'weeks_low', 'weeks_high',
       'weeks_mean', 'months_low', 'months_high'],
      dtype='object')

In [64]:
output = clinicMerge.drop(['sponsor_name','notes','healthfirst','hospital','website'],axis=1)

In [66]:
output.to_csv('nyc-article31-childadolescent-survey-081022.csv',index=False)